.knc-kuluster-list-module {
  padding-bottom: 96px;
  display: flex;
  width: 1000px;

  .knc-kuluster-list-posts {
    width: 720px;
  }

  .knc-kuluster-list-rest-container {
    margin-left: 16px;
    width: 264px;
  }
}