.knc-app-module {
  display: flex;
  height: 100%;

  .knc-app-sidebar-container {
    height: inherit;
    width: 75px;
  }

  .knc-app-rest-container {
    display: flex;
    flex-direction: column;
    min-width: 1000px;
    width: 100%;

    .knc-app-topbar-container {
      height: 50px;
    }

    .knc-app-content-container {
      background-color: #fafafa;
      display: flex;
      flex: 1;
      justify-content: center;
      overflow-y: scroll;

      .knc-app-content {
        margin: 32px;
        width: 1000px;
      }
    }
  }
}