@import 'auth/auth.scss';
@import 'feed/feed.scss';
@import 'post/post.scss';

.knc-ftxtf-component {
  width: inherit;

  .knc-ftxtf-label {

  }

  .knc-ftxtf-input-container {

    .knc-ftxtf-input {
      
      input {
        border: 1px solid $light-gray3;
        border-radius: 3px;
        color: $dark-gray1;
        font-size: 14px;
        line-height: 14px;
        padding: 8px 32px 8px 12px;
        width: stretch;
      }
    
      input:focus {
        border-color: $gray3;
      }
  
      ::placeholder {
        color: $gray1;
      }
    }
  }
}

.knc-ftxtf-component:not(:last-child) {
  margin-bottom: 12px;
}

.knc-form-buttons {
  width: 100%;
}

.knc-form-text-input-component {
  margin-bottom: 12px;

  .knc-form-text-input-label {
    display: flex;

    .knc-form-text-input-container {
      margin-left: auto;
      position: relative; 

      .knc-form-text-input {
        display: flex;
        flex-direction: column;
  
        input, textarea {
          border: 1px solid $light-gray3;
          border-radius: 3px;
          color: $text-color;
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          padding: 6px 32px 6px 8px;
          line-height: 16px;
        }
    
        input:focus, textarea:focus {
          border-color: $gray5;
        }
    
        ::placeholder {
          color: $gray3;
        }

        input:disabled, textarea:disabled {
          background-color: $light-gray4;
          border: none;
          color: $gray5;
          cursor: not-allowed;
        }
      }

      .knc-form-text-input--error {

        input {
          border-color: $red4;
        }

        input:focus {
          border-color: $red4;
        }
      }

      .knc-form-text-input-icon {
        position: absolute;
        right: 10px;
        top: 6px;
      }

      .knc-form-text-input-icon--success {
        color: $green4;
      }

      .knc-form-text-input-icon--error {
        color: $red4;
      }
    }

    .knc-form-text-input-single {
      width: 100%;
    }
  }

  .knc-form-text-input-error {
    align-items: center;
    color: $red4;
    display: flex;
    font-size: 12px;
    margin-top: 2px;

    .knc-form-text-input-error-icon {
      margin-right: 3px;
      margin-bottom: 2px;
    }
  }
}

textarea {
  box-sizing: border-box;
  height: 30px;
  resize: none;
}

.knc-form-buttons {

  .knc-form-submit-button {
  }
}

.knc-form-section {

  .knc-form-section-title {
    color: $gray1;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .knc-form-section-content {
    padding-top: 4px;

    .knc-form-section-field {
      
    }
  }

  .knc-form-section-buttons {
    width: 100%;
  }
}